@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Estilização do Cabeçalho(Header) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.votrip-header {
  background-color: rgb(6, 11, 63);
  margin-top: -1rem;
  border-bottom: 0.15em solid;
  border-color: rgb(6, 11, 63);
  box-shadow: 0 0 15px rgb(249, 134, 17);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.votrip-logo img {
  width: 150px;
  height: 100px;
}

.votrip-header a {
  border: 0.2em solid transparent;
  color: white;
}

.votrip-nav-left a:hover {
  border: 0.2em solid;
  border-color: rgba(255, 255, 255, 0.027);
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 2em;
  color: white;
}

.votrip-nav-left a img {
  width: 35px;
  height: 35px;
}

.votrip-nav-right {
  margin-right: 0.3rem;
  margin-top: 2.5rem;
}

.perfil {
  margin: 1.5rem 0rem 0rem 0rem;
}

.menu_botao:focus {
  outline: none;
  box-shadow: none;
}

.votrip-nav-right a {
  margin-bottom: 1.2em;
}

.votrip-nav-right a img {
  width: 35px;
  height: 35px;
}

.votrip-nav-right a:hover {
  border: 0.2em solid;
  border-color: rgba(255, 255, 255, 0.027);
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 2em;
  color: white;
}

.votrip-nav-right li {
  padding-right: 0.5rem;
}

/* Menu acima do login */

.top-nav-right {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 2em;
  align-self: flex-end !important;
  padding: 1rem 1rem 0rem 0rem;
}

.top-nav-right a img {
  width: 25px;
  height: 25px;
}

.top-nav-right a:hover {
  border: 0.2em solid;
  border-color: rgba(255, 255, 255, 0.027);
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 2em;
  color: white;
}

/* Botão Tema Claro/Noturno */

.dark-mode {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-top: 0.5em;
}

.dark-mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-mode img {
  width: 25px;
  height: 25px;
  position: relative;
  right: 2em;
  bottom: 0.2em;
}

.dark-mode .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.dark-mode .slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3 !important;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3 !important;
}

input:checked+.slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Icone do Tema Claro/Noturno da Página */

.dark-mode #icon-dark-mode {
  display: inline;
}

.dark-mode #icon-light-mode {
  display: none;
}

.dark-mode input:checked~#icon-dark-mode {
  display: none;
}

.dark-mode input:checked~#icon-light-mode {
  display: inline;
}

/* Perfil */

.perfil {
  padding: 0.4rem 0.8em 0.4rem 0.8rem;
  border-radius: 2rem;
  border: 0.05em solid;
  border-color: rgb(0, 0, 0);
  color: white !important;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(249, 134, 17);
}

.perfil:hover {
  background-color: #e27c00;
  color: white !important;
}

.perfil img {
  width: 35px;
  height: 35px;
}

.menu-dropdown {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  width: 150px;
  height: 150px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  user-select: none;
  display: none;
  z-index: 100;
}

.menu-dropdown::before {
  content: '';
  position: absolute;
  top: -3px;
  right: 20px;
  width: 5.4px;
  height: 5.4px;
  background: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(45deg);
  z-index: -1;
}

.menu-dropdown .lista {
  display: flex;
  flex-direction: column;
  background-color: white;
  list-style: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-dropdown .lista {
  border-top: 1px solid gray;
  margin-top: 13px;
  border-bottom: 1px solid gray;
  padding-bottom: 13px;
}

.menu-dropdown .lista .item-lista {
  padding: 10px 20px 0px 0px;
  background: white;
  transition: 0.5s;
}

.menu-dropdown .lista .item-lista img {
  width: 20px;
  height: 20px;
}

.menu-dropdown .lista .item-lista:hover {
  background: #f5f5f5;
  padding: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 25px;
  transition: 0s;
}

.menu-dropdown .item-lista a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

/* Estilização do Corpo da Página */
main {
  background: #f2f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* ======= CONTAINER ======= */
.contact-container {
  background: #fff;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0px 5px 10px 1px black;
  width: 100%;
  max-width: 500px;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-weight: 600;
}

/* ======= FORM ======= */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 14px;
  color: #555;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  transition: 0.3s ease;
  font-size: 15px;
  border-radius: 30px;
  border: 0.1em solid black;
  box-shadow: 0px 5px 10px 1px black;
}

textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  transition: 0.3s ease;
  font-size: 15px;
  border: 1.5px solid black;
  border-radius: 8px;
}

input:focus,
textarea:focus {
  border-color: #0078ff;
  box-shadow: 0 0 0 3px rgba(0, 120, 255, 0.1);
}

textarea {
  resize: none;
  min-height: 120px;
}

/* ======= BOTÃO ======= */
button {
  background-color: rgb(6, 11, 63);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 15px rgb(14, 116, 163);
  height: 100%;
  width: 60%;
  letter-spacing: 1px;
  margin-left: 75px;
}

button:hover {
  background-color: #002e4d;
}

/* ======= RESPONSIVO ======= */
@media (max-width: 480px) {
  .contact-container {
    padding: 30px 25px;
  }
}

/* Estilização do botão Âncora */

.btn-ancora {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.btn-ancora img {
    width: 45px;
    height: 45px;
}

/* Estilização do Rodapé(Footer) */

.votrip-footer {
  background-color: rgb(6, 11, 63);
  margin-bottom: -1rem;
  border-top: 0.2em solid;
  border-color: rgb(6, 11, 63);
  box-shadow: 0 0 15px rgb(249, 134, 17);
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000px;
}

.votrip-footer ul.navbar-nav {
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: center;
  padding-left: 0;
  margin: 1rem;
  list-style: none;
  gap: 20px;
}

.votrip-footer a {
  border: 0.2em solid transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.votrip-footer a img {
  width: 25px;
  height: 25px;
}

.votrip-footer a:hover {
  border: 0.2em solid;
  border-color: rgba(255, 255, 255, 0.027);
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 2em;
  color: white;
  text-decoration: none;
}

.votrip-footer p {
  display: flex;
  justify-content: center;
  color: rgb(114, 114, 114);
  font-size: 10px;
}