@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Responsividade da Tela Principal */

@media (min-width: 768px) {

    .perfil {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        z-index: 20;
    }

    .menu-dropdown{
        z-index: 100;
    }

    .votrip-logo{
        padding-bottom: 1em !important;
    }
}

@media (max-width: 991.98px) {

    .votrip-header{
        padding: 0.5rem 1rem 0.5rem 2rem;
        min-height: 70px;
        position: relative;
    }

    .votrip-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0.25rem;
        z-index: 10;
    }

    .votrip-logo img{
        width: 120px;
        height: auto;
        max-height: 60px
    }

    .perfil {
        position: absolute;
        top: -1rem;
        right: 1rem;
        z-index: 20;
        background-color: rgb(249, 134, 17);
        border-radius: 1rem;
        padding: 0.4rem 0.8rem;
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .perfil img {
        width: 25px;
        height: 25px;
    }

    .btn-ancora{
        margin-bottom: 2rem;
    }

    .menu-dropdown{
        z-index: 100;
    }

    .mt-mobile-gap {
        margin-top: 4.5rem;
    }
}

.input-data-in-personalizado::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.input-data-out-personalizado::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.search-button-dark-mode{
   color: white !important;
   border: 0.5px solid white !important;
}

.search-button-personalizado-dark-mode{
    color: black !important;
}

/* Estilização do Cabeçalho(Header) */

.votrip-header{
    background-color: rgb(6, 11, 63);
    margin-top: -1rem;
    border-bottom: 0.15em solid;
    border-color: rgb(6, 11, 63);
    box-shadow: 0 0 15px rgb(249, 134, 17);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.votrip-logo img{
    width: 150px;
    height: 100px;
}

.votrip-header a{
    border: 0.2em solid transparent;
    color: white;
}

.votrip-header span{
    color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.votrip-nav-left a:hover {
    border: 0.2em solid;
    border-color: rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 2em;
    color: white;
}

.votrip-nav-left a img{
    width: 35px;
    height: 35px;
}

.votrip-nav-right{
    padding-right: 3rem;
    margin-right: 6.5rem;
}

.perfil{
    margin: 1.5rem 0rem 0rem 0rem;
}

.menu_botao:focus{
    outline: none;
    box-shadow: none;
}

.votrip-nav-right a{
    margin-bottom: 1.2em;
}

.votrip-nav-right a img{
    width: 35px;
    height: 35px;
}

.votrip-nav-right a:hover{
    border: 0.2em solid;
    border-color: rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 2em;
    color: white;
}

.votrip-nav-right li{
    padding-right: 0.5rem;
}

/* Menu acima do login */

.top-nav-right{
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 2em;
    align-self: flex-end !important;
    padding: 1rem 1rem 0rem 0rem;
}

.top-nav-right a img{
    width: 25px;
    height: 25px;
}

.top-nav-right a:hover{
    border: 0.2em solid;
    border-color: rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 2em;
    color: white;
}

/* Botão Tema Claro/Noturno */

.dark-mode{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-top: 0.5em;
}

.dark-mode input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dark-mode img{
    width: 25px;
    height: 25px;
    position: relative;
    right: 2em;
    bottom: 0.2em;
}

.dark-mode .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.dark-mode .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3 !important;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3 !important;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Icone do Tema Claro/Noturno da Página */

.dark-mode #icon-dark-mode{
    display: inline;
}

.dark-mode #icon-light-mode{
    display: none;
}

.dark-mode input:checked ~ #icon-dark-mode{
    display: none;
}

.dark-mode input:checked ~ #icon-light-mode{
    display: inline;
}

/* Perfil */

.perfil{
    padding: 0.4rem 0.8em 0.4rem 0.8rem;
    border-radius: 2rem;
    border: 0.05em solid;
    border-color: rgb(0, 0, 0);
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(249, 134, 17);
}

.perfil:hover {
    background-color: #e27c00;
    color: white !important;
}

.perfil img{
    width: 35px;
    height: 35px;
}

.menu-dropdown{
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    user-select: none;
    display: none;
    z-index: 100;
}

.menu-dropdown::before{
    content: '';
    position: absolute;
    top: -3px;
    right: 20px;
    width: 5.4px;
    height: 5.4px;
    background: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(45deg);
    z-index: -1;
}

.menu-dropdown .lista{
    display: flex;
    flex-direction: column;
    background-color: white;
    list-style: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-dropdown .lista{
    border-top: 1px solid gray;
    margin-top: 13px;
    border-bottom: 1px solid gray;
    padding-bottom: 13px;
}

.menu-dropdown .lista .item-lista{
    padding: 10px 20px 0px 0px;
    background: white;
    transition: 0.5s;
}

.menu-dropdown .lista .item-lista img{
    width: 20px;
    height: 20px;
}

.menu-dropdown .lista .item-lista:hover{
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #f5f5f5;
    border-radius: 25px;
    transition: 0s;
}

.menu-dropdown .item-lista a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

/* Estilização do Corpo da Página */

/* Filtros do Destino */

.filtros{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.filtros li{
    display: flex;
}

.filtros button{
    background-color: white;
    color: black;
    font-size: 14px;
    border: 0.15em solid transparent;
    border-radius: 5em;
    padding: 0.6em 1em;
    white-space: nowrap; /* Tira o Espaçamento do Icone e do nome */
}

/* Interação ao passar o mouse por cima dos filtros */

.filtros button #img-regiao-padrao{
    display: inline;
}

.filtros button #img-regiao-azul{
    display: none;
}

.filtros button #img-pais-padrao{
    display: inline;
}

.filtros button #img-pais-azul{
    display: none;
}

.filtros button #img-cidade-padrao{
    display: inline;
}

.filtros button #img-cidade-azul{
    display: none;
}

.filtros button #img-favoritos-padrao{
    display: inline;
}

.filtros button #img-favoritos-azul{
    display: none;
}

.filtros button:hover{
    background-color: white;
    color: #2196F3 !important;
    font-size: 14px;
    border: 0.15em solid #2196F3;
}

.filtros button:hover #img-regiao-padrao{
    display: none;
}

.filtros button:hover #img-regiao-azul{
    display: inline;
}

.filtros button:hover #img-pais-padrao{
    display: none;
}

.filtros button:hover #img-pais-azul{
    display: inline;
}

.filtros button:hover #img-cidade-padrao{
    display: none;
}

.filtros button:hover #img-cidade-azul{
    display: inline;
}

.filtros button:hover #img-favoritos-padrao{
    display: none;
}

.filtros button:hover #img-favoritos-azul{
    display: inline;
}

.filtros img{
    width: 20px;
    height: 20px;
}

/* Sessão Nossos Destinos */

.guias{
    font-family: 'Poppins',sans-serif;
    font-weight: none;
    margin-top: 4em;
}
.guias img{
    width: 20px;
    height: 20px;
}

.section-destinos h2{
    margin-top: 1rem;
}

.section-destinos p{
    margin-left: 1em;
    font-weight: bold;
}

.row > .col-12.col-md-4 {
    display: flex;
    flex-direction: column;
}

.card-destinos{
    position: relative;
    overflow: hidden;
    border: 0.1rem solid rgb(6, 11, 63);
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgb(14, 116, 163);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100%;
}

.card-destinos .favoritos1,
.card-destinos .favoritos2,
.card-destinos .favoritos3,
.card-destinos .favoritos4,
.card-destinos .favoritos5,
.card-destinos .favoritos6{
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.card-destinos .favoritos1 button,
.card-destinos .favoritos2 button,
.card-destinos .favoritos3 button,
.card-destinos .favoritos4 button,
.card-destinos .favoritos5 button,
.card-destinos .favoritos6 button{
    background-color: transparent;
    border: none;
    display: flex;
}

.card-destinos .favoritos1 img,
.card-destinos .favoritos2 img,
.card-destinos .favoritos3 img,
.card-destinos .favoritos4 img,
.card-destinos .favoritos5 img,
.card-destinos .favoritos6 img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.card-destinos .favoritos1 button #favorito-desmarcado1,
.card-destinos .favoritos2 button #favorito-desmarcado2,
.card-destinos .favoritos3 button #favorito-desmarcado3,
.card-destinos .favoritos4 button #favorito-desmarcado4,
.card-destinos .favoritos5 button #favorito-desmarcado5,
.card-destinos .favoritos6 button #favorito-desmarcado6{
    display: inline;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.card-destinos .favoritos1 button #favorito-marcado1,
.card-destinos .favoritos2 button #favorito-marcado2,
.card-destinos .favoritos3 button #favorito-marcado3,
.card-destinos .favoritos4 button #favorito-marcado4,
.card-destinos .favoritos5 button #favorito-marcado5,
.card-destinos .favoritos6 button #favorito-marcado6{
    display: none;
    background: none;
    border: none;
    padding: 0;
}

.card-destinos img{
    width:  300px;
    height: 200px;
    object-fit: cover;
}

.card-destinos .card-title{
    margin-top: 1rem;
    margin-left: 2rem;
}

.card-destinos .card-desc{
    margin: 0rem 1rem 1rem 1rem;
}

.card-destinos .card-desc .card-text{
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-weight: 10;
}

.card-destinos .card-desc .card-subtext{
    color: rgb(133, 133, 133);
}

.card-destinos .card-desc .card-precos{
    display: flex;
    flex-direction: row;
    font-size: small;
    gap: 0em;
}

.card-destinos .card-desc .preco-original{
    font-weight: bold;
    margin: 0rem 0rem 0rem 1rem;
    color: red;
    font-weight: bold;
    text-decoration: line-through;
}

.card-bottom {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-reservar{
    margin-top: 2rem !important;
    margin-left: 10rem;
    background-color: rgb(249, 134, 17);
    padding: 0.4em 0.8em 0.4em 0.8em;
    left: 2em;
    position: relative;
    bottom: 0.5em;
    border-radius: 2em;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

.btn-reservar:hover {
    background-color: #e27c00;
    color: white;
}

.btn-ancora{
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.btn-ancora img{
    width: 45px;
    height: 45px;
}

.preco-promo-dark{
    color: white;
}

/* Estilização do popup */
.desc-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

  /* Caixa do popup */
.desc-popup {
    background: #fff;
    border-radius: 12px;
    max-width: 400px;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    animation: slideDown 0.4s ease;
    position: relative;
}

@keyframes slideDown {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.desc-popup h2 {
    color: #333;
    margin-bottom: 10px;
}

.desc-popup p {
    color: #555;
    margin-bottom: 20px;
}

.desc-popup button {
    background: #ff7b00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.desc-popup button:hover {
    background: #ff9900;
}

.close-btn {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #999;
}

.close-btn:hover {
    color: #333;
}


/* Estilização do Rodapé(Footer) */

.votrip-footer{
    background-color: rgb(6, 11, 63);
    margin-bottom: -1rem;
    border-top: 0.2em solid;
    border-color: rgb(6, 11, 63);
    box-shadow: 0 0 15px rgb(249, 134, 17);
}

.votrip-footer .menu-footer{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0rem 0.5rem 0rem;
}

.votrip-footer a{
    border: 0.2em solid transparent;
    color: white;
}

.votrip-footer a img{
    width: 25px;
    height: 25px;
}

.votrip-footer a:hover {
    border: 0.2em solid;
    border-color: rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 2em;
    color: white;
}

.votrip-footer p{
    display: flex;
    justify-content: center;
    color: rgb(114, 114, 114);
    font-size: 10px;
}