@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Responsividade da Tela Principal */

@media (min-width: 768px) {

    .search-bar {
        z-index: 10;
    }

    .search-bar form {
        flex-wrap: nowrap;
        align-items: center;
    }

    .search-bar .search-field {
        flex: 1 1 30%;
    }

    .search-field {
        width: auto;
    }

    .search-button {
        flex: 1 1 0;
        max-width: 23%;
        padding-right: 1rem;
    }

    .perfil {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        z-index: 20;
    }

    .menu-dropdown {
        z-index: 100;
    }

    .votrip-logo {
        padding-bottom: 1em !important;
    }
}

@media (max-width: 991.98px) {

    .votrip-header {
        padding: 0.5rem 1rem 0.5rem 2rem;
        min-height: 70px;
        position: relative;
    }

    .votrip-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0.25rem;
        z-index: 10;
    }

    .votrip-logo img {
        width: 120px;
        height: auto;
        max-height: 60px
    }

    .perfil {
        position: absolute;
        top: -1rem;
        right: 1rem;
        z-index: 20;
        background-color: rgb(249, 134, 17);
        border-radius: 1rem;
        padding: 0.4rem 0.8rem;
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .perfil img {
        width: 25px;
        height: 25px;
    }

    .btn-ancora {
        margin-bottom: 2rem;
    }

    .menu-dropdown {
        z-index: 100;
    }

    .mt-mobile-gap {
        margin-top: 4.5rem;
    }

    .search-bar {
        margin-top: 2rem !important;
        z-index: 10;
    }

    .search-bar form {
        justify-content: center;
    }

    .search-button {
        flex: none;
        width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1040px) {

    .search-bar form {
        justify-content: center;
    }

    .search-button {
        flex: none;
        width: 100%;
    }

}

.input-data-in-personalizado::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.input-data-out-personalizado::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.search-button-dark-mode {
    color: white !important;
    border: 0.5px solid white !important;
}

.search-button-personalizado-dark-mode {
    color: black !important;
}

/* Estilização do Cabeçalho(Header) */

.votrip-header {
    background-color: rgb(6, 11, 63);
    margin-top: -1rem;
    border-bottom: 0.15em solid;
    border-color: rgb(6, 11, 63);
    box-shadow: 0 0 15px rgb(249, 134, 17);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.votrip-logo img {
    width: 150px;
    height: 100px;
}

.votrip-header a {
    border: 0.2em solid transparent;
    color: white;
}

.votrip-header span {
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.votrip-nav-left a:hover {
    border: 0.2em solid;
    border-color: rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 2em;
    color: white;
}

.votrip-nav-left a img {
    width: 35px;
    height: 35px;
}

.votrip-nav-right {
    padding-right: 3rem;
    margin-right: 6.5rem;
}

.perfil {
    margin: 1.5rem 0rem 0rem 0rem;
}

.menu_botao:focus {
    outline: none;
    box-shadow: none;
}

.votrip-nav-right a {
    margin-bottom: 1.2em;
}

.votrip-nav-right a img {
    width: 35px;
    height: 35px;
}

.votrip-nav-right a:hover {
    border: 0.2em solid;
    border-color: rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 2em;
    color: white;
}

.votrip-nav-right li {
    padding-right: 0.5rem;
}

/* Menu acima do login */

.top-nav-right {
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 2em;
    align-self: flex-end !important;
    padding: 1rem 1rem 0rem 0rem;
}

.top-nav-right a img {
    width: 25px;
    height: 25px;
}

.top-nav-right a:hover {
    border: 0.2em solid;
    border-color: rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 2em;
    color: white;
}

/* Botão Tema Claro/Noturno */

.dark-mode {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-top: 0.5em;
}

.dark-mode input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dark-mode img {
    width: 25px;
    height: 25px;
    position: relative;
    right: 2em;
    bottom: 0.2em;
}

.dark-mode .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.dark-mode .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3 !important;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3 !important;
}

input:checked+.slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Icone do Tema Claro/Noturno da Página */

.dark-mode #icon-dark-mode {
    display: inline;
}

.dark-mode #icon-light-mode {
    display: none;
}

.dark-mode input:checked~#icon-dark-mode {
    display: none;
}

.dark-mode input:checked~#icon-light-mode {
    display: inline;
}

/* Perfil */

.perfil {
    padding: 0.4rem 0.8em 0.4rem 0.8rem;
    border-radius: 2rem;
    border: 0.05em solid;
    border-color: rgb(0, 0, 0);
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(249, 134, 17);
}

.perfil:hover {
    background-color: #e27c00;
    color: white !important;
}

.perfil img {
    width: 35px;
    height: 35px;
}

.menu-dropdown {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    user-select: none;
    display: none;
    z-index: 100;
}

.menu-dropdown::before {
    content: '';
    position: absolute;
    top: -3px;
    right: 20px;
    width: 5.4px;
    height: 5.4px;
    background: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(45deg);
    z-index: -1;
}

.menu-dropdown .lista {
    display: flex;
    flex-direction: column;
    background-color: white;
    list-style: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-dropdown .lista {
    border-top: 1px solid gray;
    margin-top: 13px;
    border-bottom: 1px solid gray;
    padding-bottom: 13px;
}

.menu-dropdown .lista .item-lista {
    padding: 10px 20px 0px 0px;
    background: white;
    transition: 0.5s;
}

.menu-dropdown .lista .item-lista img {
    width: 20px;
    height: 20px;
}

.menu-dropdown .lista .item-lista:hover {
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #f5f5f5;
    border-radius: 25px;
    transition: 0s;
}

.menu-dropdown .item-lista a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

/* Corpo da Página */

/* Estilização da Barra de Pesquisa */

.search-bar {
    position: relative;
    margin: -2.5rem auto 2rem auto;
    background-color: white;
    border: 0.15rem solid rgb(6, 11, 63);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 15px rgb(249, 134, 17);
    width: 90%;
    max-width: 960px;
    z-index: 10;
}

.search-bar form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.search-bar .search-field {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.search-bar .search-field input {
    padding: 0.4rem 0.75rem;
    font-size: 0.9rem;
    margin-left: 0.1rem;
    border: none !important;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 2.5rem;
}


.search-field input:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
}

.search-bar .search-field input {
    border: none !important;
    margin-bottom: 0.5rem;
}

.input-destino,
.input-data-in,
.input-data-out {
    background-color: white;
    padding-left: 2.2rem;
    padding-top: 0.6rem;
    border: none;
    box-shadow: none;
    width: 100%;
}

.input-destino {
    margin-top: 0.3rem;
}

.input-destino::placeholder {
    color: black;
}

.input-destino-personalizado::placeholder {
    color: white;
}

.input-data-in,
.input-data-out {
    margin-bottom: 0.3rem;
}

.input-data-in:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
    color: black;
}

#label-data {
    top: -1rem;
}

.input-label {
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    transition: 0.2s ease all;
    pointer-events: none;
    font-size: 0.75rem;
    font-weight: bold;
    color: #999;
}

input:focus+.input-label,
input:not(:placeholder-shown)+.input-label {
    top: -0.5rem;
    left: 0.75rem;
    font-size: 0.75rem;
    color: black;
}

#label-destino {
    top: -0.5rem;
    padding: 0 0.2rem;
}

.search-button {
    padding: 1rem;
}

.search-button button {
    background-color: rgb(249, 134, 17);
    border: 0.15rem solid black;
    color: black;
    border-radius: 1rem;
    padding: 0.5rem 1.5em 0.5rem 1.5rem;
    width: 100%;
    font-weight: bold;
}

.search-button button:hover {
    background-color: rgb(249, 134, 17);
    color: white !important;
}

/* Estilização do Banner Principal */

.section-banner {
    margin-top: 6rem;
    border: 0.1rem solid rgb(6, 11, 63);
    border-radius: 1rem;
    box-shadow: 0 0 15px rgb(14, 116, 163);
}

.text {
    color: #999;
    font-weight: bold;
}

.section-banner h2 {
    margin-top: 1rem;
}

.carousel-inner {
    padding: 0rem 1rem 1.5rem 1rem;
}

.carousel-image-wrapper {
    position: relative;
    height: 450px;
    overflow: hidden;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

.carousel-image-wrapper button {
    width: 10%;
    background-color: rgb(249, 134, 17);
    border: 0.1rem solid black;
    border-radius: 1rem;
    font-weight: bold;
}

.carousel-image-wrapper button:hover {
    background-color: rgb(249, 134, 17);
    color: white !important;
}

.carousel-image {
    object-fit: cover;
    height: 100%;
    filter: brightness(0.75);
}

.carousel-caption-custom {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1.5rem;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.carousel-caption-custom h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.carousel-caption-custom .subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.carousel-caption-custom .price {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffc107;
}

.carousel-caption-custom .note {
    font-size: 0.9rem;
    color: #ccc;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    width: 30px;
    height: 30px;
    background-color: rgb(249, 134, 17);
    border-radius: 50%;
    border: 1px solid black;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: background-color 0.3s;
}

.carousel-control-prev img,
.carousel-control-next img {
    width: 1.3rem;
    height: 1.3rem;
    margin-bottom: 0.15rem;
}

.carousel-control-prev {
    left: 0rem;
}

.carousel-control-next {
    right: 0rem;
}

/* Estilização da Sessão Ofertas */

.section-ofertas {
    margin-top: 6rem;
    border: 0.1rem solid rgb(6, 11, 63);
    border-radius: 1rem;
    box-shadow: 0 0 15px rgb(14, 116, 163);
}

.section-ofertas h2 {
    margin-top: 1rem;
}

.card-ofertas {
    position: relative;
    overflow: hidden;
    border: 0.1rem solid rgb(6, 11, 63);
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgb(14, 116, 163);
    cursor: pointer;
    margin-top: 1rem;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.overlay-text {
    background: rgba(0, 0, 0, 0.6);
    top: 50%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    padding: 1rem;
}

.preco-original {
    font-weight: bold;
    color: #ffc107;
    margin-top: 0.5rem;
}

/* Estlização da Sessão Destinos */

/* .section-destinos{
    margin-top: 6rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0);
} */

.section-destinos h2 {
    margin-top: 1rem;
}

.card-destinos {
    position: relative;
    overflow: hidden;
    border: 0.1rem solid rgb(6, 11, 63);
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgb(14, 116, 163);
    cursor: pointer;
    margin-top: 2rem;
}

.card-destinos img {
    height: 300px;
    object-fit: cover;
}

.card-destinos .card-desc {
    margin: 0.5rem 0rem 1rem 1rem;
}

.card-destinos .card-desc .card-title {
    font-weight: bold;
    font-size: 2rem;
}

.card-destinos .card-desc .card-subtitle,
.card-destinos .card-desc .card-subtext {
    color: rgb(133, 133, 133);
    font-size: 0.9rem;
    font-weight: bold;
}

.card-destinos .card-desc .card-text {
    font-size: 1rem;
    margin-left: 1.5rem;
}

.card-destinos .card-desc .preco {
    font-weight: bold;
    margin: -1rem 0rem 0rem 1rem;
}

.card-bottom {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-reservar {
    background-color: rgb(249, 134, 17);
    padding: 0.4rem 0.8em 0.4rem 0.8rem;
    margin-right: 0.8rem;
    border-radius: 2em;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

.btn-reservar:hover {
    background-color: #e27c00;
    color: white;
}

/* Estilização do botão Âncora */

.btn-ancora {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.btn-ancora img {
    width: 45px;
    height: 45px;
}

/* Estilização do Botão de Cupons */

.btn-cupom {
    position: fixed;
    left: 1.5em;
    transform: translateY(-50%);
    background-color: #ff7b00;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgb(14, 116, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-cupom:hover {
    /* transform: scale(1.1); */
    box-shadow: 0px 2px 8px rgb(14, 116, 163);
}

.btn-cupom img {
    width: 30px;
    height: 30px;
}

/* Estilização do popup */
.desc-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.descEspecial {
    color: black;
}

/* Caixa do popup */
.desc-popup {
    background: #fff;
    border-radius: 12px;
    max-width: 400px;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    animation: slideDown 0.4s ease;
    position: relative;
}

@keyframes slideDown {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.desc-popup h2 {
    color: #333;
    margin-bottom: 10px;
}

.desc-popup p {
    color: #555;
    margin-bottom: 20px;
}

.desc-popup button {
    background: #ff7b00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.desc-popup button:hover {
    background: #ff9900;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #999;
}

.close-btn:hover {
    color: #333;
}

/* Estilização do Rodapé(Footer) */

.votrip-footer {
    background-color: rgb(6, 11, 63);
    margin-bottom: -1rem;
    border-top: 0.2em solid;
    border-color: rgb(6, 11, 63);
    box-shadow: 0 0 15px rgb(249, 134, 17);
}

.votrip-footer .menu-footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0rem 0.5rem 0rem;
}

.votrip-footer a {
    border: 0.2em solid transparent;
    color: white;
}

.votrip-footer a img {
    width: 25px;
    height: 25px;
}

.votrip-footer a:hover {
    border: 0.2em solid;
    border-color: rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 2em;
    color: white;
}

.votrip-footer p {
    display: flex;
    justify-content: center;
    color: rgb(114, 114, 114);
    font-size: 10px;
}