@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@media (min-width: 768px) {

    .perfil {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        z-index: 20;
    }

    .menu-dropdown {
        z-index: 100;
    }

    .votrip-logo {
        padding-bottom: 1em !important;
    }
}

@media (max-width: 991.98px) {

    .votrip-header {
        padding: 0.5rem 1rem 0.5rem 2rem;
        min-height: 70px;
        position: relative;
    }

    .votrip-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0.25rem;
        z-index: 10;
    }

    .votrip-logo img {
        width: 120px;
        height: auto;
        max-height: 60px
    }

    .perfil {
        position: absolute;
        top: -1rem;
        right: 1rem;
        z-index: 20;
        background-color: rgb(249, 134, 17);
        border-radius: 1rem;
        padding: 0.4rem 0.8rem;
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .perfil img {
        width: 25px;
        height: 25px;
    }

    .btn-ancora {
        margin-bottom: 2rem;
    }

    .menu-dropdown {
        z-index: 100;
    }

    .mt-mobile-gap {
        margin-top: 4.5rem;
    }
}

/* Estilização do Cabeçalho(Header) */

.votrip-header{
    background-color: rgb(6, 11, 63);
    margin-top: -1rem;
    border-bottom: 0.15em solid;
    border-color: rgb(6, 11, 63);
    box-shadow: 0 0 15px rgb(249, 134, 17);
    display: flex;
    justify-content: space-between;
}

.votrip-logo img{
    width: 150px;
    height: 100px;
}

.votrip-header a{
    border: 0.2em solid transparent;
    color: white;
    margin-right: 1rem;
}

.votrip-nav-right{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    position: absolute;
    right: 1rem;
    z-index: 500;
}

.votrip-nav-right a{
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    text-decoration: none;
}

.votrip-nav-right a img{
    width: 25px;
    height: 25px;
}

/* Botão Tema Claro/Noturno */

.dark-mode{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-top: 0.7em;
}

.dark-mode input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dark-mode img{
    width: 25px;
    height: 25px;
    position: relative;
    right: 2em;
    bottom: 0.2em;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.votrip-nav-right a:hover{
    border: 0.2em solid;
    border-color: rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 2em;
    color: white;
    text-decoration: none;
}

/* Icone do Tema Claro/Noturno da Página */

.dark-mode #icon-dark-mode{
    display: inline;
}

.dark-mode #icon-light-mode{
    display: none;
}

.dark-mode input:checked ~ #icon-dark-mode{
    display: none;
}

.dark-mode input:checked ~ #icon-light-mode{
    display: inline;
}

/* Estilização do Formulário de Login */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #dfdfdf;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.login-header{
    text-align: center;
    margin: 20px 0 20px 0;
    display: flex;
    gap: 50px;
}

.login-header a img{
    margin-top: 5px;
    width: 40px;
    height: 40px;
}

.título-form{
    color: black;
    font-size: 30px;
    font-weight: 600;
}
.input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 0px 5px 10px 1px;
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #222;
}
.input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
}
#check{
    margin-right: 10px;
}
.checkbox-label{
    font-size: 14px;
    color: #555;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background-color: rgb(6, 11, 63);
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 15px rgb(14, 116, 163);
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #002e4d;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #2a86d1ff;
    font-weight: 600;
}

.btn-cadastre:hover{
    text-decoration: none;
    color: rgb(11, 45, 61);
}

/* Estilização do Rodapé(Footer) */

.votrip-footer{
    background-color: rgb(6, 11, 63);
    margin-bottom: -1rem;
    border-top: 0.2em solid;
    border-color: rgb(6, 11, 63);
    box-shadow: 0 0 15px rgb(249, 134, 17);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000px;
}

.votrip-footer ul.navbar-nav {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 0;
    margin: 1rem;
    list-style: none;
    gap: 20px;
}

.votrip-footer a{
    border: 0.2em solid transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.votrip-footer a img{
    width: 25px;
    height: 25px;
}

.votrip-footer a:hover {
    border: 0.2em solid;
    border-color: rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 2em;
    color: white;
    text-decoration: none;
}

.votrip-footer p{
    display: flex;
    justify-content: center;    
    color: rgb(114, 114, 114);
    font-size: 10px;
}